<form [formGroup]="_form">
	<fieldset>
		<legend>{{formLabel}}</legend>
		<div>
      
      <app-action-buttons-bar (remove)="remove.emit()"
                              (addCondition)="_addCondition()">
      </app-action-buttons-bar>

			<ng-container formArrayName="conditions">
        <app-condition-form *ngFor="let c of _conditionsFormArray?.controls; index as j" 
                            (remove)="_deleteCondition(j)"
                            [formControlName]="j" 
                            [formLabel]="'Condition ' + (j+1)">
        </app-condition-form>
			</ng-container>
		</div>
	</fieldset>
</form>