<div>
	<section class="top-bar">
		<span>Nested Groups</span>
		<button type="button"
            label="Add Statement"
            (click)="_addGroup()">add group</button>
	</section>

	<form [formGroup]="_form">
		<ng-container formGroupName="statement">
			<ng-container formArrayName="groups">
				<ng-container *ngFor="let group of _groupsFormArray?.controls; index as i">
					<app-group-control (remove)="_delete(i)"
                             [formControlName]="i"
                             [formLabel]="'Group '+ (i + 1) + ':'">
					</app-group-control>
				</ng-container>
			</ng-container>
		</ng-container>
	</form>
</div>
<br>
<br>
<pre>{{ _form.value | json }}</pre>