<div>
	<section class="top-bar">
		<span>Nested Groups</span>
		<button type="button"
            label="Add Page"
            (click)="_addTransaction()">add transaction</button>
	</section>

	<form [formGroup]="_form">
		<ng-container formGroupName="page">
			<ng-container formArrayName="transactions">
				<ng-container *ngFor="let transaction of _transactionsFormArray?.controls; index as i">
					<app-group-control (remove)="_delete(i)"
                             [formControlName]="i"
                             [formLabel]="'Transaction '+ (i + 1) + ':'">
					</app-group-control>
				</ng-container>
			</ng-container>
		</ng-container>
	</form>
</div>
<br>
<br>
<pre>{{ _form.value | json }}</pre>